# Ignore history files
.Rhistory

# Ignore session data files
.RData

# Ignore Rmd default cache directory
/cache/

# Ignore any temp files that are created by Rmd
*.utf9.md
*.knit.md

# Ignore temporary Rproject files
.Rproj.user
inst/doc
*.DS_Store
*.Rapp.history

# Ignore pkgdown folder
/pkgdown/