# Ignore history files
.Rhistory

# Ignore session data files
.RData

# Ignore Rmd default cache directory
/cache/

# Ignore any temp files that are created by Rmd
*.utf9.md
*.knit.md

# Ignore temporary Rproject files
.Rproj.user
inst/doc

# Ignore .csv files being used for testing
.csv

# Ignore logos folder of SVG images
/Logos_mimsy/